.page-container {
  background-color: white;
  min-height: 90vh;

  .head-container{
    background-color: grey;
    height: 40px;
    margin: auto;
    .head-text{
      color: #fff;
      padding-top: 10px;
    }
  }

  .all-not{
    background-color: rgb(235, 254, 254);
    border: 1px solid rgb(235, 234, 234);
    width: 92%;
    margin: auto;
    border-radius: 10px;
    min-height: 80vh;
    border: 1px solid rgb(235, 234, 234);
  }

  .notification-container {
    margin: auto;
    padding-top: 7px;


    .flex-not{
      display: flex;
      padding: 5px 0;
      box-shadow: 0px 0px 3px 1px rgb(121, 122, 120);
      justify-content: center;
      align-items: center;
      height: 65px;
      margin: 7px 0;
      width: 95%;
      margin: auto;
      border-radius: 5px;

      .circle{
        height: 30px;
        min-width: 30px;
        background-color: grey;
        border-radius: 50%;
        margin: auto;
      }
    }
    .message-cont{
      width: 70%;
      margin: auto;
      display: block;
      text-align: left;
      padding-left: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: space-between;
      line-height: 20px;
      height: 100%;

      .e2{
        color: #969595;
      }
    }

    .delete-cont {
      width: 40px;
      display: inline;
    }
  }
}

.read{
  background-color: #fff;
}

.count{
  font-size: 12px;
  color: greenyellow;
  margin-left: 6px;
}

.red{
  color: red;
}