.sendRequest-wrapper{

}

.send-btn{
  width: 5rem;
  /* height: 2rem; */
  padding: .5rem .625rem;
  background-color: #1ab188;
}

.bross {
  width: 5rem;
  /* height: 2rem; */
  padding: .5rem .625rem;
  background-color: rgb(186, 226, 213);
}
